/* Header principal */
#primary {
  padding-block: 20px;
}

#primary div {
  display: flex;
  align-items: center;
  gap: 8px;
}

#primary div:nth-child(3) {
  justify-self: end;
}

/* Navegação secundária */
#secondary {
  padding-block: 14px;
  border: 1px solid var(--stroke-color);
  border-inline: none; /* Remove as bordas laterais */
  justify-content: space-between;
  align-items: center;
}

#secondary a {
  color: var(--text-color, #fff);
  text-decoration: none;
  font: var(--text-span);
  transition: color 0.3s;
}

#secondary a:hover {
  color: var(--brand-color, #38bdf8);
}
